/* General styles for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Style for the top black bar */
.top-bar {
    background-color: black;
    height: 10px;
}

/* Style for the 
 bar containing the title */
.header-bar {
    background-color: white;
    height: 60px;
    line-height: 60px;
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    padding-left: 25%;
}

.header-bar {
    background-color: white;
    height: auto; /* Now auto so it can expand to fit the tagline */
    line-height: 1.0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    padding-top: 2%;
}

.header-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 0%; /* Aligns the title 25% from the left side */
}

.header-tagline {
    font-size: 0.5em;
    font-weight: normal;
    color: grey;
    padding-left: 5%; /* 25% from left side + 5% additional offset */
}

/* Style for the main container */
.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
}

/* Style for the intro section */
.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    font-size: 1.2em;
}

/* Style for the first row containing the nav bar and the main content */
.first-row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Style for the vertical navigation bar */
.side-navigation {
    margin-right: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/* Style for the individual links in the nav bar */
.side-navigation a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Style for the active link */
.side-navigation a.selected {
    background-color: #ddd;
}

/* Style for the main content */
.main-content {
    flex: 1;
    line-height: 1.6;
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
    padding-top: 0;
}

/* Media query for smaller screens */
@media (max-width: 924px) {
    .container {
        width: 100vw;
        padding: 10px;
    }
}

